.box {
    width: 100px;
    height: 100px;
    background-color: red;
    transition: transform 0.5s;
}
  
.box.active {
    transform: rotate(360deg);
}
.component {
    width: 100%;
}
  
@media (min-width: 768px) {
    .component {
      width: 50%;
    }
}
    