.homepage-footer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: flex-start;
    padding: 20px;
    background-color: #0f103c;
}
  
.footer-section {
    flex-basis: calc(33.33% - 20px);
}
  
.footer-section p {
    margin-bottom: 10px;
    color: #f6f2f2;
}
  
.footer-section ul {
    list-style: none;
    padding: 0;
    margin: 0;
}
  
.footer-section li {
    margin-bottom: 5px;
}
  
.footer-section a {
    color: #f6f2f2;
    text-decoration: none;
}
  
.footer-section a:hover {
    text-decoration: underline;
}

  